$intro-background-color: hsl(217, 28%, 15%);
$heading-color: hsl(0, 0%, 100%);
$para-color: hsl(0, 0%, 76%);
$button-background-color: hsl(198, 60%, 50%);
$button-text-color: hsl(0, 0%, 100%);

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    background-color: $intro-background-color;
    background-image: url( '../images/svgs/BgCurvy.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 630px;

    padding-bottom: 200px;

    h1 {
        color: $heading-color;

        font-family: 'Raleway', sans-serif;
        font-size: 40px;

        margin-top: 30px;

        text-align: center;
    }

    p {
        color: $para-color;

        font-family: 'Raleway', sans-serif;
        font-size: 20px;

        margin-top: 40px;

        text-align: center;
    }

    button {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 16px;

        color: $button-text-color;
        background-color: $button-background-color;

        border: none;
        border-radius: 40px;
        padding: 17px 90px;

        margin-top: 30px;

        &:hover {
            cursor: pointer;
            background-color: lighten($button-background-color, 15%);
        }
    }
}